@{
  Layout = "_Layout";
}

<a href="/">Home</a>

<h1>Band Tracker</h1>

<h2>@Model["thisBand"].GetName()</h2>

<h3>Venues Played</h3>
<form action='/bands/select_venue' method='post'>
  <input id='band-id' name='band-id' type='hidden' value='@Model["thisBand"].GetId()'>
  <label for='venue-id'>Select a venue</label>
  <select id='venue-id' name='venue-id' type='text'>
    @foreach (var venue in @Model["allVenues"])
    {
      <option value='@venue.GetId()'>@venue.GetName()</option>
    }
  </select>
  <button type="submit" class="btn-default">Add</button>
</form>

<form action='/bands/new_venue' method='post'>
  <input id='band-id' name='band-id' type='hidden' value='@Model["thisBand"].GetId()'>
  <label for="venue-name">New venue: </label>
  <input type="text" id="venue-name" name="venue-name">
  <label for="venue-city">City: </label>
  <input type="text" id="venue-city" name="venue-city">
  <button type="submit" class="btn-default">Add</button>
</form>


@foreach(var venue in @Model["bandVenues"])
{
  <li>@venue.GetName()</li>
}
